@media screen and (min-width:798px ) {
  .shop-content{
    height: 500px;
    margin-top:50px ;
    .row{
      .jifen{
        height: 80px;
        padding-top:30px ;
        text-align: right;
        color: #390c20;
        font-size: 18px;
        border-right:2px solid  #390c20;
        background-color: #e9eace;
      }
      .thanks{
        height: 80px;
        padding: 10px;
        color: #390c20;
        font-size: 18px;
        background-color: #e9eace;
      }
    }
  }
}
@media screen and (max-width:798px ) {
  .shop-content{
    height: 500px;
    margin-top:50px ;
    .row{
      .jifen{
        box-sizing: border-box;
        line-height: 40px;
        text-align: center;
        color: #390c20;
        font-size: 14px;
        background-color: #fff;
      }
      .thanks{
        box-sizing: border-box;
        height: 80px;
        padding: 10px;
        color: #390c20;
        font-size: 18px;
        background-color: #eeeeee;
      }
    }
  }
}

.class{
  margin-top: 10px;
  border-radius: 10px;
  .nav-tabs{
    li{
      a{
        text-align: left;
        color: #390c20;
        font-size: 18px;
        background-color: #f2df91;
        border-bottom-color:#e9eace ;
      }
      &.active{
        a{
          text-align: left;
          color: #390c20;
          font-size: 18px;
          background-color: #e9eace;
          border-bottom-color:#e9eace !important;
        }
      }
    }
  }
  .tab-content{
    padding-top: 10px;
    height:500px;
    background-color: #e9eace ;
    #home{
      padding: 0px;
      div{
        padding: 0px;

        img{
          width: 100%;
        }
        p{
          font-size: 15px;
          &:nth-of-type(2){
            font-size: 18px;
          }
        }
        .wangguan{
          width: 50%;
        }
      }
    }
    #profile{
      height: 40px;
      width: 100%;
      background-color: #e9eace;
      .media{
        margin-bottom: 10px;
        .media-left{
          a{
            img{
              width: 80px;
            }
          }
        }
      }
    }
  }
}


.xs-header-nav{
  margin-top: 50px;
  background-color: #fff;
  a {
    line-height: 50px;
    text-align: center;
    color: #390c20;

    i{
      color: #390c20;
    }
  }
  .more{
    text-align: center;
    a{
      text-decoration: none;
      cursor: pointer;
    }
    ul{
      position: fixed;
      top:98px;
      left: 0px;
      width: 101%;
      li{
        a{
          text-align: left;
        }
      }
    }
  }
}